
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;

  background-color: rgba(243, 247, 250, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  margin-left: 25px;
  margin-top: 20px;
  text-transform: uppercase;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


